{% extends 'base.html' %}

{% load static %}

<title>HomePage Template</title>

{% block base_head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}


{% block content %}

<div class = 'text-center'>
	<h1>{{ title }}</h1>
	<h1>Hello, world! We're working!</h1>
</div>


	<img src="{% static 'img/beach.jpg' %}" class="img-fluid">
	<div class="row">
		<div class='col'>
		    {{ content }}
		</div>	
	</div>

	{% if request.user.is_authenticated %}
	<div class="row">
		<div class="col">
		    <h1>PREMIUM</h1>
		    {{ premium_content }}
		</div>
	</div>
	{% endif %}


{% endblock %}
